/*---------------- body and wrapper ----------------*/
body {
	background-color: #F7F4EA;
	font-family: "arial";
}
#wrapper { 
	margin: 30px 50px 50px 50px; 
}
.current_user {
	display: none;
}
.current_date {
	display: none;
}
.status_message {
	color: mediumvioletred;
	font-size: 1.5em;
	font-weight: bold;
}


#top_area {
    
}
/*---------------- newresource section ----------------*/
.top_new_link {
	margin: 0px 0px 10px 0px;
}
.top_new_link a {
	color: #53482B;
	font-size: 1.1em;
}

/*---------------- top recommendation section ----------------*/
#right_top_box {
    font-size: 1.1em;
    font-weight: bold;
    float: right;
    width: 30%;
    text-align: right;
}
#rec_msg_none {
    color: #999;
}
#rec_msg_pos {
    color: #0F0;
}
#rec_msg_neg {
    color: #F00;
}
#rec_msg_both {
    color: #444;
}
#has_flag_top {
    font-size: 0.7em;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
}
#center_top_box {
    text-align: center;
    width: 39%;
    margin-right: 30%;
    margin-left: 30%;
}
#ctb_title_area {
    margin-bottom: 30px;
}
#ctb_title {
    font-weight: bold;
    font-size: 2em;
    color: #444;
}
#ctb_subtitle {
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.35em;
    color: #999;
}
#ctb_edition {
    margin-top: 7px;
    font-weight: bold;
    font-size: 1.05em;
    color: #999;
}

#ctb_image {
    margin-top: 15px;
}
#ctb_image img {
    max-width: 300px;
}

#left_top_box {
    width: 30%;
    float: left;
}
#ltb_r_number {
    font-size: 1.5em;
    font-weight: bold;
}
#ltb_db_id {
    color: #999;
    font-size: 0.85em;
}
#ltb_created_by {
    color: #999;
    font-size: 0.85em;
}
#ltb_rover_img {
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 3px;
    float: left;
    border: 3px solid #006837;
    border-radius: 3px;
    margin-right: 10px;
}

span.tag_remove_box, .text_remove_box, .text_edit_box, .flag_remove_box, .rec_remove_box, .res_edit_box {
    margin: 0px 10px 0px 20px;
    padding: 0px 3px 0px 3px;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #CCC;
    font-weight: bold;
    font-size: 0.75em;
}
span.text_edit_box:hover, .res_edit_box:hover {
    color: #6F6;
    background-color: #E6FFE6;
    border-color: #9F9;
    cursor: pointer;
}
span.tag_remove_box:hover, .text_remove_box:hover, .flag_remove_box:hover, .rec_remove_box:hover {
    color: #F66;
    background-color: #FFE6E6;
    border-color: #F99;
    cursor: pointer;
}
.res_edit_box a {
    text-decoration: none;
    color: #CCC;
}
.tag_creation_info {
    font-size: 0.75em;
    color: #999;
    font-style: italic;
    font-weight: normal;
    margin: 5px;
}

/*---------------- tagger section ----------------*/
.tagger_section {
/*border-top: 1px solid #999;*/
    border: 1px solid #999;
    border-radius: 4px;
    margin: 10px 0px 10px 0px;
    padding: 15px 25px 15px 25px;
    color: #444; 
    background-color: white;
    box-shadow: 0px 0px 10px 0px #999;
}
.tagger_section_title {
    font-size: 1.4em;
    font-weight: bold;
    color: #444;
}
.tagger_section_instructions {
	font-size: 0.8em;
	color: #999;
	margin: 5px 0px 5px 0px;
}
.tagger_section_list_header {
	font-size: 0.8em;
  	color: #999;
}


.group_container {
	margin: 10px 0px 0px 0px;
  	border-top: 1px dotted #D6D6D6;
}


.tag_list, .group_tag_list {
    font-weight: bold;
    color: #53482B;
    font-size: 0.9em;
}
.tag_list {
    list-style: none;
    margin: 10px 0px 20px 10px;
    padding: 10px 0px 10px 25px;
    border-top: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    font-size: 1em;
}
.group_tag_list {
	list-style: none;
	margin: 10px 0px 20px 10px;
}
.tag_row {
    margin-bottom: 7px;
}
.big_tag_row {
    margin: 10px 0px 10px 0px;
}
.big_tag_name {
    display: inline-block;
    width: 75px;
    text-align: right;
    padding-right: 10px;
}
.big_tag_value {
    font-weight: bold;
}
.child_tag_row {
    margin-bottom: 5px;
}

.form_text {
    color: #999;
    font-size: 0.8em;
    font-weight: bold;
}
select {
    padding: 3px;
    margin-left: 0px;
    color: #ECE3CA;
    background-color: #53482B;
    cursor: pointer;
}

.form_wrapper {
    margin: 5px;
    font-size: 0.8em;
}
.horizontal_form_wrapper {
    display: inline;
    float: left;
    margin: 5px;
}
.horizontal_form_wrapper button {
    margin-left: auto;
    margin-right: auto;
}

div.add_tags_form h3 {
    font-weight: bold;
    font-size: 1.1em;
    color: #999;
}

/*---------------- tag group (Subjects and Groups) ----------------*/
.tag_group_box {
	margin: 5px 0px 5px 15px;
	border: 1px solid #53482B;
	padding: 10px;
	background-color: #ECE3CA;
}
.tag_group_header {
    margin: 10px 0px 5px 0px;
    font-size: 1em;
    color: #999;
}
.tag_group_name {
    font-weight: bold;
    color: #666;
}

/*---------------- button ----------------*/

button, .submit_button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77622C), color-stop(1, #53482B) );
	background:-moz-linear-gradient( center top, #77622C 5%, #53482B 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77622C', endColorstr='#53482B');
	background-color:#77622C;
	border:1px solid #000;
	display:inline-block;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding: 4px;
	text-decoration:none;
	text-align:center;
}
button:hover, .submit_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #53482B), color-stop(1, #77622C) );
	background:-moz-linear-gradient( center top, #53482B 5%, #77622C 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#53482B', endColorstr='#77622C');
	background-color:#53482B;
	cursor: pointer;
}
button:active, .submit_button:active {
	position:relative;
	top:1px;
}

input { 
padding:3px;
}

/*---------------- publisher/ distributor info box ----------------*/
table#pubdist_tags {
    max-width: 49%;
}
.right_info_box {
	float: right;
	min-width: 550px;
        max-width: 50%;
	min-height: 150px;
	color: #53482B;
	font-size: 0.9em;
	font-weight: bold;
	border: 1px solid #53482B;
	padding: 10px;
	margin: 15px 25px 0px 15px;
	background-color: #ECE3CA;	
}

.longtext_wrapper {

}

.longtext_header {
	margin-top: 7px;
	font-size: 1.1em;
	padding-right: 15px;
	/*font-weight: bold;*/
	color: #53482B;
}
.longtext_block {
	margin: 5px 0px 5px 15px;
	border: 1px solid #53482B;
	padding: 10px;
	background-color: #ECE3CA;
	color: #53482B;
}

select.outcome_list {
	min-width: 300px;
}
select.company_list {
	width: 500px;
}

/*---------------- view/edit links  ----------------*/
a.res_link {
    color: #77622C;
    font-weight: bold;
    text-decoration: none;
}
a.res_link:hover {
    color: #53482B;    
    text-decoration: underline;
}

.flagged_notice {
    color: mediumvioletred;
    font-size: 1.2em;
    font-weight: bold;
}



#other_data_input {
    width: 500px;
}


.relationship_row {
    margin-bottom: 10px;
}
.relationship_type {
    text-decoration: underline;
    font-style: italic;
}
.relationship_desc {
    font-weight: normal;
}
.relationship_title {
    font-weight: bold;
}

/*---------------- tables ----------------*/

table {
	font-size: 0.8em;
}

.tag_table, .resource_table {
    border-collapse: collapse;
}

.tag_table thead tr, .resource_table thead tr {
    font-size: 0.8em;
    font-weight: bold;
    border-bottom: 2px solid #999;
    text-align: center;
}

.tag_table tbody tr, .resource_table tbody tr {
    border-top: 1px solid #999;
} 

.tag_table td, .resource_table td {
    padding: 8px;
}

td.tag_table_type {
    font-weight: normal;
}
td.tag_table_value {
    font-weight: bold;
}
td.tag_table_date, td.res_table_date, td.tag_table_user, td.res_table_user {
    font-size: 0.9em;
    color: #999;
    font-style: italic;
    font-weight: normal;
}

td.res_table_r {
    font-weight: normal;
}
td.res_table_title {
    font-weight: bold;
}

.cover_image_preview {
    max-width: 500px;
}

