<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>STaNS Resource Tool</display-name>
    <servlet>
        <servlet-name>CreateTag</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagCRUD.CreateTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTagType</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagCRUD.CreateTagType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagCRUD.CreateResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePubDist</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagCRUD.CreatePubDist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTagToResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddTagToResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTagToPublisher</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddTagToPublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTagToRecommendation</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddTagToRecommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTagsFromResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.RemoveTagsFromResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAndAddNewGroupToResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.CreateAndAddNewGroupToResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAndAddNewTagToResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.CreateAndAddNewTagToResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAndAddNewTagToPublisher</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.CreateAndAddNewTagToPublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAndAddNewRecommendation</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.CreateAndAddNewRecommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInfoToTag</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddInfoToTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTagInfo</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagCRUD.GetTagInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTextFromResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.DeleteTextFromResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTagToResourceByValue</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddTagToResourceByValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTagToPublisherByValue</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddTagToPublisherByValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOutcomesList</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagCRUD.GetOutcomesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecord</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagCRUD.DeleteRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddParentResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddParentResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteCurriculumXML</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.export.WriteCurriculumXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PushToROVER</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.export.PushToROVER</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFlagToResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddFlagToResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFlag</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagCRUD.DeleteFlag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFlagComments</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.UpdateFlagComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTag</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagCRUD.UpdateTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTagType</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagCRUD.UpdateTagType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResources</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.searchAndList.SearchResources</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateResourcePopup</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.searchAndList.GenerateResourcePopup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFinalRecommendation</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddFinalRecommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetOutOfPrint</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.SetOutOfPrint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveParentResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.RemoveParentResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecFromResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.DeleteRecFromResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckIfLive</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.export.CheckIfLive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateCurriculumList</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.searchAndList.GenerateCurriculumListRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLongTextToResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddLongTextToResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplaceLongText</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.ReplaceLongText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HideIfChild</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.HideIfChild</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuickSearch</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.searchAndList.QuickSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuickData</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddQuickData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPubQuickData</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddPubQuickData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuickFind</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.searchAndList.QuickFind</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRecords</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.searchAndList.ViewRecords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddResourceRelationship</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddResourceRelationship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPubResourceRelationship</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.AddPubResourceRelationship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveResourceRelationship</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.RemoveResourceRelationship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePubRelationship</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.RemovePubRelationship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.EditResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPubDist</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.tagging.EditPubDist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByText</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.api.SearchByText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByTag</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.api.SearchByTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUpdatedAtTimestamp</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.api.GetUpdatedAtTimestamp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetResource</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.api.GetResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTagValueByName</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.api.GetTagValueByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRNumberByNNumber</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.api.GetRNumberByNNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetResourcePopupContent</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.api.GetResourcePopupContent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Preload</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.searchAndList.Preload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratePreload</servlet-name>
        <servlet-class>stans.resourcerecord.servlet.searchAndList.GeneratePreload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTagType</servlet-name>
        <url-pattern>/admin_pages/CreateTagType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTag</servlet-name>
        <url-pattern>/admin_pages/CreateTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateResource</servlet-name>
        <url-pattern>/CreateResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePubDist</servlet-name>
        <url-pattern>/CreatePubDist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTagToResource</servlet-name>
        <url-pattern>/AddTagToResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTagToPublisher</servlet-name>
        <url-pattern>/AddTagToPublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTagToRecommendation</servlet-name>
        <url-pattern>/AddTagToRecommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTagsFromResource</servlet-name>
        <url-pattern>/RemoveTagsFromResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAndAddNewGroupToResource</servlet-name>
        <url-pattern>/CreateAndAddNewGroupToResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAndAddNewTagToResource</servlet-name>
        <url-pattern>/CreateAndAddNewTagToResource</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
            <servlet-name>CreateAndAddNewTagToPublisher</servlet-name>
            <url-pattern>/CreateAndAddNewTagToPublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAndAddNewRecommendation</servlet-name>
        <url-pattern>/CreateAndAddNewRecommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInfoToTag</servlet-name>
        <url-pattern>/AddInfoToTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTagInfo</servlet-name>
        <url-pattern>/GetTagInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTextFromResource</servlet-name>
        <url-pattern>/DeleteTextFromResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTagToResourceByValue</servlet-name>
        <url-pattern>/AddTagToResourceByValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTagToPublisherByValue</servlet-name>
        <url-pattern>/AddTagToPublisherByValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOutcomesList</servlet-name>
        <url-pattern>/GetOutcomesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecord</servlet-name>
        <url-pattern>/DeleteRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddParentResource</servlet-name>
        <url-pattern>/AddParentResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteCurriculumXML</servlet-name>
        <url-pattern>/WriteCurriculumXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PushToROVER</servlet-name>
        <url-pattern>/admin_pages/PushToROVER</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFlagToResource</servlet-name>
        <url-pattern>/AddFlagToResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFlag</servlet-name>
        <url-pattern>/DeleteFlag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFlagComments</servlet-name>
        <url-pattern>/UpdateFlagComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTag</servlet-name>
        <url-pattern>/admin_pages/UpdateTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTagType</servlet-name>
        <url-pattern>/admin_pages/UpdateTagType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResources</servlet-name>
        <url-pattern>/SearchResources</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateResourcePopup</servlet-name>
        <url-pattern>/GenerateResourcePopup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFinalRecommendation</servlet-name>
        <url-pattern>/AddFinalRecommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetOutOfPrint</servlet-name>
        <url-pattern>/SetOutOfPrint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveParentResource</servlet-name>
        <url-pattern>/RemoveParentResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecFromResource</servlet-name>
        <url-pattern>/DeleteRecFromResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckIfLive</servlet-name>
        <url-pattern>/admin_pages/CheckIfLive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateCurriculumList</servlet-name>
        <url-pattern>/GenerateCurriculumList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLongTextToResource</servlet-name>
        <url-pattern>/AddLongTextToResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplaceLongText</servlet-name>
        <url-pattern>/ReplaceLongText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HideIfChild</servlet-name>
        <url-pattern>/HideIfChild</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuickSearch</servlet-name>
        <url-pattern>/QuickSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuickData</servlet-name>
        <url-pattern>/AddQuickData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPubQuickData</servlet-name>
        <url-pattern>/AddPubQuickData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuickFind</servlet-name>
        <url-pattern>/QuickFind</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRecords</servlet-name>
        <url-pattern>/ViewRecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddResourceRelationship</servlet-name>
        <url-pattern>/AddResourceRelationship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPubResourceRelationship</servlet-name>
        <url-pattern>/AddPubResourceRelationship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveResourceRelationship</servlet-name>
        <url-pattern>/RemoveResourceRelationship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePubRelationship</servlet-name>
        <url-pattern>/RemovePubRelationship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditResource</servlet-name>
        <url-pattern>/EditResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPubDist</servlet-name>
        <url-pattern>/EditPubDist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByText</servlet-name>
        <url-pattern>/SearchByText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByTag</servlet-name>
        <url-pattern>/SearchByTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUpdatedAtTimestamp</servlet-name>
        <url-pattern>/GetUpdatedAtTimestamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetResource</servlet-name>
        <url-pattern>/GetResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTagValueByName</servlet-name>
        <url-pattern>/GetTagValueByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRNumberByNNumber</servlet-name>
        <url-pattern>/GetRNumberByNNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetResourcePopupContent</servlet-name>
        <url-pattern>/GetResourcePopupContent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Preload</servlet-name>
        <url-pattern>/Preload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratePreload</servlet-name>
        <url-pattern>/GeneratePreload</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
